// Variables
@import "layout";

$gutter: $horizontal-base !default;

// Helpers

@function _width-from-fraction($fraction) {
  @return calc((100%*#{$fraction}) - #{$gutter});
}

@function _offset-from-fraction($fraction) {
  @return calc((100%*#{$fraction}) + #{$gutter/2});
}

@mixin grid-container {
  display: flex;
  margin-left: -$gutter/2;
  margin-right: -$gutter/2;
}

@mixin grid-item($width: 1, $offset-left: 0, $offset-right: 0) {
  width: _width-from-fraction($width);
  margin-left: _offset-from-fraction($offset-left);
  margin-right: _offset-from-fraction($offset-right);
}

// @include grid-item(1);
      
// @include breakpoint(medium) { 
//     @include grid-item(1/3);
// }

// @include breakpoint(large) { 
//     @include grid-item(1/6);
// }