// Variables

$horizontal: 20px !default;
$breakpoints: (medium: 640px, large: 960px) !default;
$max-width: 1200px !default;

// 

@mixin page-container {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: $gutter;
  padding-right: $gutter;
}

@mixin breakpoint($size) {
  @if map-has-key($breakpoints, $size ) {
    @media screen and (min-width: map-get($breakpoints, $size)) {
      @content;
    }
  }
}

// Global

html, body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  width:auto;
  max-width:100%;
  height:auto;
}
