// Variables
@import "typography";

$horizontal-base: 1.5rem !default;
$vertical-base: 1.5rem !default;

$breakpoints: (
  medium: 640px,
  large: 960px
) !default;
$max-width: 1200px !default;

// Helpers

%max-width {
  margin: 0 auto;  
  max-width: $max-width;
  overflow-x: hidden;
}

%full-width {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

%content-container {
  padding-left: $horizontal-base;
  padding-right: $horizontal-base;
}

%max-width-content {
  @extend %max-width;
  @extend %content-container;
}

%full-width-content {
  @extend %full-width;
  @extend %content-container;
}

@mixin breakpoint($size) {
  @if map-has-key($breakpoints, $size ) {
    @media screen and (min-width: map-get($breakpoints, $size)) {
      @content;
    }
  }
}

// Global

html, body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  width:auto;
  max-width:100%;
  height:auto;
}

// section {
// }
