// Variables
@import "layout";

$font-base: 16px !default;
$max-line-length: 38em !default;

$font-sizes: (
    xx-large: (
        default: ( font-size: 5.063rem, line-height: $vertical-base * 3)
    ),
    x-large: (
        default: ( font-size: 3.375rem, line-height: $vertical-base * 3)
    ),
    large: (
        default: ( font-size: 2.25rem, line-height: $vertical-base * 2)
    ),
    medium: (
        default: ( font-size: 1.5rem, line-height: $vertical-base * 2)
    ),
    default: (
        default: ( font-size: 1rem, line-height: $vertical-base)
    ),
    small: (
        default: ( font-size: 0.667rem, line-height: $vertical-base)
    ),
) !default;

// Helpers

@mixin _set-font-properties($font-map) {
    @if map-has-key($font-map, font-size) {
        font-size: map-get($font-map, font-size);
    }
    @if map-has-key($font-map, line-height) {
        line-height: map-get($font-map, line-height);
    }
}

@mixin font-size($size: default) {
    $font-size: map-get($font-sizes, $size);

    @each $breakpoint, $properties in $font-size {
        @if $breakpoint == 'default' {
            @include _set-font-properties($properties);
        } @else {
            @include breakpoint($breakpoint) {
                @include _set-font-properties($properties);
            }
        }       
    }
}

// Global

html {
    font-size: $font-base;
}

body {
    @include font-size(default);
}

h1 {
    @include font-size(x-large);
    margin-top: $vertical-base * 3;
    margin-bottom: $vertical-base;
}

h2 {
    @include font-size(large);
    margin-top: $vertical-base * 2;
    margin-bottom: $vertical-base;
}

h3 {
    @include font-size(medium);
    margin-top: $vertical-base;
    margin-bottom: $vertical-base;
}

h4, h5, h6 {
    @include font-size(default);
    margin-top: $vertical-base;
    margin-bottom: $vertical-base;
}

p {
    @include font-size(default);
    margin-top: $vertical-base;
    margin-bottom: $vertical-base;
    max-width: $max-line-length;
}
