.full-width {
  background: red;
  width: 100%;
  height: 60px; }

.full-width-content {
  padding-left: 24px;
  padding-right: 24px;
  background: blue;
  color: white;
  width: 100%;
  height: 60px; }

.hero {
  margin: 0 auto;
  max-width: 1200px;
  overflow-x: hidden;
  padding-left: 24px;
  padding-right: 24px;
  background: paleturquoise;
  color: navy; }
